body {
  padding-top: 50px;
}

.img-center {
  margin:0 auto;
}

tr.nowrap {
white-space: nowrap;
}

.form-horizontal .form-group {
  margin-bottom: 5px;
}

.form-horizontal .help-block {
  margin-bottom: 5px;
}

.spacer {
  margin-top: 20px; /* define margin as you see fit */
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.btn-primary { 
background-color: #f4511e; 
transition: all 0.3s;
border: none;
}
.btn-primary:hover { background-color: #D93B0B;}
.btn-primary:visited { background-color: #f4511e; }

.btn2-primary { 
background-color: #14b41c; 
transition: all 0.3s;
border: none;
}
.btn2-primary:hover { background-color: #119d18;}
.btn2-primary:visited { background-color: #119d18; }

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 27px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding-top: 10px;
}
.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding-top: 10px;
}
.embed-responsive {
position: static;